body{
    background-color: aqua;
    color:red ;
}

h1{
    background-color: white;
    color: black;
}
h2{
    color: black;
}
h4{
    color: black;
}
ul{
    color: blue;

}
.span1{
    margin-left: 720px;
}
.first{
    height: 600px;
    width: 1200px;
}
.second{
    height: 500px;
    width: 1200px;
}
.col1{
    float: left;
    height: 400px;
    width: 250px;
    padding-left: 30px;
    padding-top: 10px;
    font-size:small ;
}
.col2{
    float: left;
    height: 400px;
    width: 250px;
    margin-left: 10px;
    border-right: yellow 5px solid;
    border-left:yellow 5px solid ;
    padding-left: 30px;
    padding-top: 10px;
    font-size: small;
}
.col3{
    float: left;
    margin-left: 30px;
    width:250px ;
    height: 400px;
    border-left: yellow 5px solid;
    border-right: yellow 5px solid;
    padding-left: 30px;
    padding-top: 10px;
    font-size: small;
}
.col4{
    height: 400px;
    width: 250px;
    float:left;
    margin-left: 10px;
    padding-left: 30px;
    padding-top: 10px;
    font-size: small;
}
#foot{
    color: darkred;text-align: center;
    background-color: black;
    border: width;
    height: 30px;;
    }



